# intellj
.idea
out

# gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# windows
Thumbs.db
Desktop.ini

# etc..
*.log
*.war
*.jar

# Node.js
node_modules/

# TypeScript
*.js
*.js.map
*.d.ts

# CDK
cdk.out/

# Python
venv/
